## Class

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)
print(p1.name, p1.age)

John 36

In [3]:
p2 = Person("Miachel", 36)

print(p2.name, p2.age)

Miachel 36

## SQL

Mysql settup in local:

1. install mysql:
    brew install mysql

2. start mysql:
    brew services start mysql
  
3. enter the sql client shell for the local mysql server:
    mysql -u root

Then, inside the mysql shell, run:
    
   CREATE DATABASE studentdb;
   
   CREATE USER 'student'@'localhost' IDENTIFIED BY 'password';
   
   GRANT ALL PRIVILEGES ON studentdb.* TO 'student'@'localhost';

In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.7/site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

conn = mysql.connector.connect(
  host="localhost",
  user="student",
  password="password",
  database="studentdb"
)

In [2]:
cur = conn.cursor(buffered=True)

In [3]:
cur.execute("show databases")

In [4]:
cur.fetchall()

[('information_schema',), ('studentdb',)]

In [165]:
try:
    cur.execute("select * from udacity.music_library")
except mysql.connector.Error as e:
    print(e)

1142 (42000): SELECT command denied to user 'student'@'localhost' for table 'music_library'

In [166]:
try:
    cur.execute("create database udacity")
except mysql.connector.Error as e:
    print(e)

1044 (42000): Access denied for user 'student'@'localhost' to database 'udacity'

In [145]:
try:
    conn.close()
except mysql.connector.Error as e:
    print(e)
    
try:
    conn = mysql.connector.connect("dbname=udacity")
except mysql.connector.Error as e:
    print("Error: Could not make connection to the postgress database")
    print(e)
    
try:
    cur = conn.cursor()
except mysql.connector.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

TypeError: __init__() takes 1 positional argument but 2 were given

In [6]:
cur.execute("CREATE TABLE music_library (album_name VARCHAR(20), artist_name VARCHAR(20), year int);")

ProgrammingError: 1050 (42S01): Table 'music_library' already exists

In [8]:
cur.execute("show create table music_library")
cur.fetchall()

[('music_library',
  'CREATE TABLE `music_library` (\n  `album_name` varchar(20) DEFAULT NULL,\n  `artist_name` varchar(20) DEFAULT NULL,\n  `year` int DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci')]

In [111]:
try:
    cur.execute("select count(*) from music_library")
except mysql.connector.Error as e:
    print("Error: Issue creating table")
    print (e)

print(cur.fetchall())

Error: Issue creating table
Unread result found
[('Rubber Soul', 'The Beatles', 1965)]

In [11]:
try:
    cur.execute("INSERT INTO music_library (album_name, artist_name, year)\
                VALUES (%s, %s, %s)",\
                ("Let it be", "The Beatles", 1970)
                )
except mysql.connector.Error as e:
    print("Error: Inserting Rows1")
    print(e)

try:
    cur.execute("INSERT INTO music_library (album_name, artist_name, year)\
                VALUES (%s, %s, %s)",\
                ("Rubber Soul", "The Beatles", 1965)
                )
except mysql.connector.Error as e:
    print("Error: Inserting Rows2")
    print(e)

In [12]:
try:
    cur.execute("select * from music_library;")
except mysql.connector.Error as e:
    print("Error: select *")
    print(e)

In [13]:
cur.execute("select * from music_library;")

In [48]:
try:
    cur.execute("select * from music_library;")
except mysql.connector.Error as e:
    print("Error: select *")
    print(e)

    
row = cur.fetchone()
while row is not None:
    print(row)
    row = cur.fetchone()

('Let it be', 'The Beatles', 1970)
('Rubber Soul', 'The Beatles', 1965)

In [45]:
cur.execute("select * from studentdb.music_library")

In [43]:
cur.fetchall()

[('Let it be', 'The Beatles', 1970), ('Rubber Soul', 'The Beatles', 1965)]

In [35]:
cur.execute("select * from music_library;")

In [30]:
row = cur.fetchone()

In [31]:
row

('Let it be', 'The Beatles', 1970)

In [32]:
cur.fetchone()

('Rubber Soul', 'The Beatles', 1965)

In [33]:
cur.fetchone()

In [36]:
cur.fetchall()

[('Let it be', 'The Beatles', 1970), ('Rubber Soul', 'The Beatles', 1965)]

In [49]:
pwd

'/Users/kate'